.container {
  max-width: var(--max-w);
  margin: 0 auto;
  padding: 0 2rem;
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;
}

.title {
  font-size: 3.5rem;
  font-weight: 900;
}

.date {
  display: block;
  font-size: 1rem;
  color: var(--gray-300);
  margin-top: 1.5rem;
}

.content {
  margin-top: 2rem;
  line-height: 1.5;
  font-size: 1.125rem;
}

.content ul,
.content p {
  margin: 1.5rem 0;
}

.content ul {
  padding-left: 1.5rem;
}

.content li {
  margin: 0.5rem 0;
}

.content.previewContent {
  background: linear-gradient(var(--gray-100), transparent);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.continueReading {
  display: block;
  padding: 2rem;
  text-align: center;
  background-color: var(--gray-850);
  border-radius: 100px;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 4rem 0 2rem;
}

.continueReading > span {
  color: var(--yellow-500);
  margin-left: 0.5rem;
}

.continueReading:hover > span {
  text-decoration: underline;
}