.button {
  height: 3rem;
  border-radius: 3rem;
  background-color: var(--btn-gray-850);
  border: none;
  padding: 0 1.5rem;

  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--btn-white);

  transition: background-color 0.2s
}

.button:hover {
  background-color: var(--btn-gray-700);
}

.button > svg {
  display: block;
  width: 20px;
  height: 20px;
}

.userName {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 15ch;
}