.button {
  line-height: 0;
  background: none;
  padding: 0.5rem;
  border: none;
  color: var(--gray-100);

  transition: filter 0.2s;
}

.button > svg {
  width: 25px;
  height: 25px;
}

.button:hover {
  filter: opacity(0.8)
}